/* PRELOADER */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #1cc3b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 2s infinite ease-in-out;
  animation: load7 2s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 6px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before
{
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; }
}

/*NAVBAR*/

.navbar {
  position: relative;
  background: transparent;
  margin: 0;  
  border: none;
}
.logo img {
  width: 65px;
  height: 65px;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 17px;
  color: #2a303b;;
  text-align: center;
  text-transform: capitalize;
  padding: 23px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  transition: 0.3s;
  color: #c1c3c6;
}
.navbar-inverse .navbar-nav>li>a:active {
  /*transition: 0.3s;*/
  color: #c1c3c6;
}
.navbar-toggle {
  border: none;
  padding: 17px 20px;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:#43bebd;
}
.book-now a {
  background-color: #43bebd;
  color: white !important;
  padding-left: 17px !important;
}
.book-now a:hover {
  transition: 0.3s;
  background-color: #0e2737  !important;
}
.book-now a:focus {
  /*transition: 0.3s;*/
  background-color: #0e2737  !important;
}
.mk a {
  padding-left: 5px !important;
  padding-right: 3px !important;
}
.en a {
 padding-left: 3px !important;
 padding-right: 3px !important;
}

/*CAROUSEL*/

.carousel-control:hover {
  transition: 0.3s;
}
.item {
  height: 650px; 
}
.item-1 {
  background: url("../images/carousel2.jpg");
  background-size: cover; 
  background-position: center;
}
.item-2 {
  background: url("../images/carousel5.jpg");
  background-size: cover; 
  background-position: center;
}
.item-3{
  background: url("../images/carousel1.jpg");
  background-size: cover; 
  background-position: center;
}
.item-4 {
  background: url("../images/carousel3.jpg");
  background-size: cover; 
  background-position: center;
}
.item-overlay {
  background: rgba(14,39,55,.2);
  height: 650px; 
}

/*CAROUSEL FILTER FORM*/

.filter-area {
  position: relative;
  z-index: 1;
}
.filter-area .hotel-search-form-area {
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 80%;
  /*z-index: 100;*/
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.filter-area .hotel-search-form-area .nice-select {
  line-height: 35px; 
}
.form-container {
  background-color: white;
  border-radius: 5px;
  padding: 40px;
}
.hotel-search-form-area .hotel-search-form .form-control {
  width: 100%;
    height: 50px;
    border: 1px solid #ebebeb;
    font-size: 13px;
}
.hotel-search-form label {
  font-size: 16px;
  font-weight: 500;
}
.check-avability{
  background-color: #1cc3b2;
  color: #ffffff; 
  font-weight: 750;
}
.check-button button:hover {
  background-color: white;
  color: #43bebd;
  transition: 0.3s;
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);  
}
.check-button label {
  color: white;
}
.filter-div div {
  margin-bottom: 10px;
}

/*ABOUT*/

.about-us {
  padding-top: 130px;
}
.section-heading h2 {
  font-size: 42px;
  display: block;
  line-height: 1.2;
}
.about-us-content p {
  font-size: 17px;
  line-height: 1.8;
  color: #636a76;
  margin-top: 30px;
  font-weight: 400;
}
.about-us-thumbnail {
  position: relative;
  z-index: 1; 
  margin-top: 50px
}
.about-us-thumbnail .single-thumb {
  position: relative;
  z-index: 1;
  margin: 5px;
  display: block;
  overflow: hidden;
  border-radius: 6px; 
}
.about-us-thumbnail .single-thumb img {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 6px; 
  max-width: 100%;
}
.about-us-thumbnail .single-thumb:first-child {
      margin-bottom: 10px; 
}
.about-us-thumbnail .single-thumb:hover img, .about-us-thumbnail .single-thumb:focus img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); 
}
.about-us-left {
  padding-right: 0;
}
.about-us-right {
  padding-left: 0;
}

/*SERVICES*/

.service-area {
  margin-top: 20px;
  padding: 60px 0 60px;
}

.main-title p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 30px;
    color: #535353;
}
.service-info {
    padding: 20px;
    margin: 0 auto 30px;
    box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);
    text-align: center;
}
.service-info h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #2a303b;
  /*line-height: 1.3;*/
  font-weight: 500;
}
.service-info p {
  height: 120px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #535353;
}
.icon {
  font-size: 2.5em;
  color: #43bebd;
}

/*ACCOMMODATION*/

.accommodation-section-title {
  margin-bottom: 50px;
}
.accommodation-section-title h2 {
  margin-top: 0;
  font-size: 42px;
  line-height: 1.2;
}
.accommodation {
  margin-bottom: 60px;
  border-radius: 0;
  border: none;
  background: transparent;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.accommodation .accommodation-detail {
    padding: 0 50px 20px;
}
.accommodation-detail h3 {
  /*text-transform: uppercase;*/
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 1.25;
  transition: all 200ms ease 0s;
  min-height: 54px;
}
.accommodation-detail h3>a {
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
}
.accommodation-detail h3>a:hover {
  color: #c1c3c6 !important;
  transition: 0.2s;      
}
/*.accommodation-detail h3>a:active {
  color: #c1c3c6 !important;
  transition: 0.2s;      
}*/
 .btn-primary:active {
  color: #c1c3c6 !important;
  background-color: white !important;
  transition: 0.2s;   
 }
 .btn-primary:focus {
  color: #c1c3c6 !important;
  background-color: white !important;
  transition: 0.2s;      
 }
.accommodation-detail p {
  min-height: 66.8px;
  font-size: 16px;
  /*line-height: 30px;*/
  color: #535353;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: hidden:
  min-height: 150px;
}
.accommodation-detail span {
  color: #c0c0c3;
  display: block;
  margin-bottom: 10px;
}
.accommodation-detail i {
  color: #c0c0c3;
  margin-right: 10px;
}
.accommodation-photo img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}
.accommodation-photo-cover img {
  object-fit: cover;
}
.accommodation-read-more {
  text-align: center;
}
.accommodation-read-more a{
  margin-top: 20px;
  background-color: #1cc3b2;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 18px;
}
.accommodation-read-more a:hover{
  color: #1cc3b2;
  background-color: white;
  transition: 0.2s;
  text-decoration: none;
}

/*CONTACT*/

.contact-header{
  background-image: url(../images/contact-header.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.contact-header-overlay{
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.header-text {
  color: white;
  font-size: 42px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}
.contact {
  /*margin-top: 50px;*/
}
.contact-info {
  margin-top: 50px;
  display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.contact-info-items{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.contact-item i {
  color: #43bebd;
  font-size: 28px;
}
.contact-info p {
    font-weight: 400;
    font-size: 18px;
    color: #535353;
}
.contact-info strong {
  font-weight: 500;
  font-size: 14px;
  color: #525252;
}
.contact-item {
  text-align: center;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
}
.contact .form-control {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #dedede;
  background: transparent;
  outline: 0;
  color: gray;
  height: 45px;
}

.contact textarea {
  min-height: 190px;
}
.contact-form button {
  background-color: #43bebd;
  cursor: pointer;
  padding: 12px 30px 10px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 50px;
}
.contact-form button:hover {
  color: white;
  background-color: #EA1945;
}
.contact-form button:hover {
  background-color: white;
  color: #43bebd;
  transition: 0.3s;
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);  
}
.map-responsive{
    margin-bottom: 50px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*ACCOMMODATION SECTION*/

.acc-section {
  margin-top: 100px;
}

.acc-header {
  background-image: url(../images/header2.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.acc-header-overlay{
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
/*.acc-detail {
    padding: 0 50px 20px;
}*/
.acc-detail h2 {
  /*text-transform: uppercase;*/
  text-align: left;
  /*font-size: 22px;*/
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 1.25;
  transition: all 200ms ease 0s;
  min-height: 54px;
}
.acc-detail h2>a {
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
}
.acc-detail h2>a:hover {
  color: gray;
  transition: 0.2s;      
}
.acc-detail p {
  min-height: 30px;
  font-size: 16px;
  color: #c0c0c3;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: hidden;
}
.acc-detail span {
  color: #535353;
  display: block;
  margin-bottom: 10px;
}
.acc-detail i {
  color: #c0c0c3;
  margin-right: 10px;
}
.acc-photo img {
  border-radius: 3px;
  width: 100%;
  height: 270px;
  margin-bottom: 15px;
}
.acc-photo-cover img {
  object-fit: cover;
}
.acc-read-more {
  text-align: left;
}
.acc-read-more a {
  margin-top: 20px;
  background-color: transparent;
  color: #1cc3b2;
  font-weight: 500;
  font-size: 16px;
  border: none;
}
.acc-read-more a:hover {
  color: #0e2737;
  transition: 0.3s;
  text-decoration: none;
}
.acc-read-more a>i:hover {
  color: #0e2737;
  transition: 0.3s;
  text-decoration: none;
}
.acc-read-more a>i {
  color: #1cc3b2;
  padding-left: 8px;
}

/*Rooms*/
.room-details-section {
  margin-top: 100px;
}
.room-header {
  background-image: url(../images/rooms-header.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.room-header-overlay{
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.room-details p {
  margin-top: 30px;
  line-height: 1.7;
  color: #636a76;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px
}
.room-details span {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;  
}
.room-details span>i{
  color: #c0c0c3;
  padding-right: 10px; 
}
.room-features {
  display: flex;
  margin-top: 40px;
}

.room-features h6 {
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
  padding: 30px 15px;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;

  text-align: center;
  color: #afb4bf;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 500;
}
.room-features h6 span {
  font-weight: 500;
  display: block;
  color: #2a303b;
}


/*Apartments*/

.aparments-details-section {
  margin-top: 100px;
}

.apartment-header {
  background-image: url(../images/appartments-header.jpg);
  /*background-image: url(app-header1.jpg);*/
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.apartment-header-overlay{
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}

/*President Apartment*/

.p-apartment-header {
  background-image: url(../images/acc-header.jpg);

  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.p-apartment-header-overlay{
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.president-suite-section {
  margin-top: 100px;
}

/*Restaurant*/

.restaurant-section {
  margin-top: 100px;
}

.restaurant-header {
  background-image: url(../images/restaurant-header.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.restaurant-header-overlay {
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.restaurant-description {
  padding: 40px;
  padding-bottom: 0;
}
.restaurant-description h2 {
  font-size: 36px;
}
.restaurant-description p { 
  padding: 10px;
  line-height: 1.7;
  color: #636a76;
  font-size: 18px;
  font-weight: 400;
}

/*Seminar*/

.seminar-header {
  background-image: url(../images/seminar-header.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.seminar-header-overlay {
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.seminar-description {
  text-align: center;
}
.seminar-description p {
  padding: 20px;
  line-height: 1.7;
  color: #636a76;
  font-size: 18px;
  font-weight: 400;
}
.table-forms div img{
  width: 100%;
  height: auto;
}
.table-forms div h2 {
  text-align: center;
}
.seminars-details {
  margin-top: 100px;
}

/*Animations*/


.animation-header {
  background-image: url(../images/header4.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.animation-header-overlay {
  background: rgba(14,39,55,.4);
  padding: 100px 0px;
}
.animation-description {
  padding: 40px;
  padding-bottom: 0;
}
.animation-description h2 {
  font-size: 36px;
}
.animation-description p { 
  padding: 10px;
  line-height: 1.7;
  color: #636a76;
  font-size: 18px;
  font-weight: 400;
}
.animation-section {
  margin-top: 100px;
}












footer {
  margin-top: 100px;
  padding-top: 70px;
  background: #0e2737;
}
.footer .f-logo {
  margin-bottom: 20px;
  height: 50px;
}
.footer .text p {
  line-height: 30px;
  color: white;
  font-size: 15px;
}
.footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
.footer li {
  margin-bottom: 15px;
  font-size: 14px;
  color: #afb4bf;
}
.footer li span {
  padding-left: 10px;
  color: #afb4bf;
}
.footer li a{
  color: #afb4bf;
}
.footer-item li>a:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.footer .footer-item {
  margin-bottom: 50px;
}
.f-border {
  width: 30%;
  margin-bottom: 15px;
  border-bottom: 3px solid white;
}
.sub-footer {
/*  display: flex;
  justify-content: center;*/
  padding: 15px 0px;  
  border-top: 1px solid #afb4bf;
  color: #afb4bf;
}
.social-list a{
  list-style: none;
  color: #afb4bf;
  font-size: 24px;
}
.social-list a:hover{
  color: white;
  transition: 0.2s;
}
















/*MEDIA QUERYS*/

@media screen and (max-width: 991px) {
  .logo img {
    width: 54px;
    height: 54px;
  }
  .navbar-inverse .navbar-nav>li>a{
    padding: 17px 17px 17px 0px;
  }
  .about-us {
    padding-top: 200px;
  }
  .acc-filter {
    margin-bottom: 225px;
  }
  .restaurant-item {
    margin-bottom: 50px;
  }
  .animation-item {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 850px) {
  .navbar-collapse ul{
    position:relative;
    /*right: 10px;*/
  }
}
@media screen and (max-width: 768px) {
  .filter-area-mobile {
    display: none;
  }
  .acc-filter {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar-toggle {
    position: absolute;
    right: 0;
  }
  .logo {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }
  .navbar {
    position: relative;
  }
  .navbar-inverse .navbar-nav>li>a{
    color: black;
    padding: 10px;
    padding-right: 0;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #43bebd;
  }
  .about-us {
    padding-top: 400px;
  }
  .about-us-left {
    padding-right: 15px;
    text-align: center;
  }
  .about-us-right {
    text-align: center;
    padding-left: 15px;
  }
  .sub-footer {
    margin-left: 5px;
    margin-right: 5px;
  }
  .header-text {
    font-size: 25px;
  }
  .contact-header-overlay {
    padding: 80px 0px;
  }
  .acc-header-overlay {
    padding: 80px 0px;
  }
  .room-features {
    display: none;
  }
  .acc-header-overlay {
    display: none;
  }
  .acc-section {
    margin-top: 20px !important;
  }
  .room-header-overlay {
    display: none;
  }
  .room-details-section {
    margin-top: 20px !important;
  }
  .apartment-header-overlay {
    display: none;
  }
  .aparments-details-section {
    margin-top: 20px !important;
  }
  .p-apartment-header-overlay {
    display: none;
  }
  .president-suite-section {
    margin-top: 20px !important;
  }
  .restaurant-header-overlay {
    display: none;
  }
  .restaurant-section {
    margin-top: 20px !important;
  }
  .seminar-header-overlay {
    display: none;
  }
  .seminars-details {
   margin-top: 20px !important;
  }
  .animation-header-overlay {
    display: none;
  }
  .animation-section {
    margin-top: 20px !important;
  }
  .item {
    height: 300px; 
  }
  .filter-area .hotel-search-form-area { 
    top: 190px;
  }
}